<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <p class="nav-link text-dark"><strong>Доброго времени суток, @User.Identity.Name!</strong></p>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="~/Account/Logout">Выйти</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href="~/Account/Register">Зарегистрироваться</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="~/Account/Login">Войти</a>
        </li>
    }
</ul>